<div class="bg-gray-100 py-6 sm:py-8 lg:py-12 ">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Cake Gallery</h2>
  
        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Indulge your senses and explore our gallery showcase to discover your new favorite sweet obsession at SweetSpot!.</p>
      </div>
      <!-- text - end -->
  
      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">       

        @for(cakegallery of gallery; track cakegallery.cakeName){

        <a href="#" class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96">
          <img [src]="cakegallery.cakeImage" loading="lazy" alt="Photo by Magicle" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
          <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
  
          <span  class="relative mr-3 mb-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-xs text-gray-200 backdrop-blur md:px-3 md:text-sm">{{cakegallery.cakeName}}</span>
        </a>

        }
      </div>
    </div>
  </div>

