<div class="bg-cover bg-center bg-opacity-45 min-h-[calc(100vh-87px)] flex justify-center items-center p-10" style="background-image: url('../../../assets/image 1 (1).png');">
  <div class="bg-white rounded-lg shadow-lg p-8 ">
    <h5 class="text-2xl font-semibold leading-tight mb-6 text-gray-800">Delivery Address</h5>
    <form (submit)="onSubmit($event)" id="delivery-address-form">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label for="full-name" class="text-gray-600 font-semibold mb-1 block">Full Name *</label>
          <input id="full-name" type="text" class="w-full rounded-md shadow-sm border border-gray-300 px-4 py-2 focus:outline-none focus:ring-primary-500 focus:border-primary-500" required>
        </div>
        <div>
          <label for="address" class="text-gray-600 font-semibold mb-1 block">Address *</label>
          <input id="address" type="text" class="w-full rounded-md shadow-sm border border-gray-300 px-4 py-2 focus:outline-none focus:ring-primary-500 focus:border-primary-500" required>
        </div>
        <div>
          <label for="city" class="text-gray-600 font-semibold mb-1 block">City *</label>
          <input id="city" type="text" class="w-full rounded-md shadow-sm border border-gray-300 px-4 py-2 focus:outline-none focus:ring-primary-500 focus:border-primary-500" required>
        </div>
        <div>
          <label for="postal-code" class="text-gray-600 font-semibold mb-1 block">Postal / ZIP Code *</label>
          <input id="postal-code" type="text" class="w-full rounded-md shadow-sm border border-gray-300 px-4 py-2 focus:outline-none focus:ring-primary-500 focus:border-primary-500" required>
        </div>
      </div>
      <button type="submit" class="bg-blue-600 mt-8 rounded-md bg-primary-500 hover:bg-primary-700 text-center px-6 py-3 text-white font-semibold shadow-sm focus:outline-none">Proceed to Payment</button>
    </form>
  </div>
</div>
